.pokemon_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100vh - 200px);
    padding: 10px;
}

.pokemon_info_data {
    height: 100px;
    color: #3a5d9f;
    padding: 0;
}
.pokemon_info_data h1{
    font-size: 20px;
}
.pokemon_info_capabilities {
    width: 40%;
}

.pokemon_info_tutor_machine {
    width: 30%;
}

.pokemon_info_tutor_machine_list {
    list-style-type:none;
}

.pokemon_info_capabilities h2 {
    text-align: center;
    color: #3a5d9f;
    font-size: 15px;
}

.pokemon_info_stat {
    display: grid;
    grid-template-rows: 70px 70px 70px;
    grid-template-columns: 50% 50%;
    grid-gap: 8px;
    align-items: center;
}

.pokemon_info_ability {
    display: grid;
    grid-template-rows: 60px 60px;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
    font-size: 15px;

}

.pokemon_info_data_save {
    cursor: pointer;
    padding: 10px;
    background-color: #3a5d9f;
    color: #fff;
    width: 200px;
}
.pokemon_info_tutor_machine_list{
    color: #3a5d9f;
    font-weight: 500;
}
.pokemon_info_tutor_machine_list li:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}
.pokemon_info_tutor_machine h2{
    color: #fdcc07;
    font-size: 15px;

}