.stat {
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: baseline;
}

.stat_name {
    flex-grow: 1;
    text-transform: uppercase;
    font-size: 15px;
    color: #fdcc07;
}

.stat_value {
    font-size: xx-large;
    font-size: 30px;
    color:#3a5d9f;
    font-weight: 700;
}