.grid-container {
    /* height: 500px; */
    height:calc(100vh - 200px);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #ffff;
    height: 40%;
    overflow: hidden;
}

.footer h1{
    color: #fdcc07;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 5px;
}

.selected_squad {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Responsive */
@media screen and (max-width: 800px) {
    .container {
      margin: 1em 2em;
    }
  } 