.pokemon_container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.pokemon_container_details {
    height: 100%;
    overflow-y: auto;
}

.pokemon_container_details_list {
    padding: 20px;
}

.pokemon_selected {
    padding: 20px;
    flex-grow: 1
}

#heading{
    color : #fdcc07;
    font-size: 20px;
    margin-left: 60px;

}

#input_value{
    color: black;
    width: 300px;
    height: 35px;
    font-weight: 700;
    font-size: 15px;
    margin-left: 10px;
    border: 2px solid #3a5d9f;
}

#input_value::focus {
    cursor: pointer;
}

#input_value ::placeholder{
    color: #c1c8ca;
}

.pokemon-list {
    width: 300px;
    height: 40px;
    margin: 10px 0 10px 10px;
    background-color: #3a5d9f;
    border-radius: 10px;
    padding-left:10px;

}

.pokemon-list:hover {
    cursor: pointer;
}


.pokemon-list .list-names{
    font-size: 20px;
    padding-top: 5px;
}